env/
catboost_info/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
data/
fastapi_env/
trained_models/
*.joblib
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.ipynb_checkpoints/
*.DS_Store
*.sqlite3